<div id="timeline-frame">
  <label>
    Limite de messages à charger
  <input [(ngModel)]="messageLimit" placeholder=10>
  </label>
  <button (click)="onClickValidateLimit()">
    Valider la Limite
  </button>
  <br>
  <ul class="timeline-messages">
    <li *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </li>
  </ul>
  <br>
  <div class="timeline-load-time"> Dernier temps de chargement timeline: <span>{{chronoTime}}</span></div>
</div>
