<div class="message-frame">
  <div class="message-info">
    {{message.authorId}}
    <button (click)="onClickFollow()">
      Suivre
    </button>
    <button (click)="onClickTimeline()">
      Voir sa timeline
    </button>
  </div>
  <div class="message-text">
    {{message.content}}
  </div>
  <div class="message-tag">
    {{message.tag}}
  </div>
</div>
