<div id="tagline-frame">
  <label>
    Limite de messages à charger
  <input [(ngModel)]="messageLimit" placeholder=10>
  </label>
  <button (click)="onClickValidateLimit()">
    Valider la Limite
  </button>
  <br>
  <ul class="tagline-messages">
    <li *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </li>
  </ul>
  <br>
  <div class="tagline-load-time"> Dernier temps de chargement messages par tag: <span>{{chronoTime}}</span> </div>
</div>
