<div id="userpage-frame">
  <app-post-message></app-post-message>
  <br>
  <app-timeline [self]="true"></app-timeline>
  <br>
  <label>
    Consulter un tag
    <input [(ngModel)]="tagToSee">
  </label>
  <button (click)="onClickTag()">
    Voir hashTag
  </button>
  <br>
  <label>
    Suivre utilisateur:
    <input [(ngModel)]="userToFollow" placeholder="nom d'utilisateur">
  </label>
  <button (click)="onClickFollow()">
    Suivre l'utilisateur
  </button>
  <br>
  <div class="userpage-follow-time"> Dernier temps de chargement follow: <span>{{chronoTime}}</span> </div>
  <br>
  <button (click)="onClickClean()">
    Clean
  </button>
  <button (click)="onClickScalable()">
    Create Users For Scalable Tests
  </button>
</div>
