<div id="register-frame">
  <!--<label>Adresse E-mail:
    <input [(ngModel)]="user.email" placeholder="xxx@yyy.zzz">
  </label>-->
  <label> Identifiant:
    <input [(ngModel)]="user.id">
  </label>
  <label> Mot de passe:
    <input [(ngModel)]="user.key" type="password">
  </label>
  <button (click)="onClickValidate()">
    Valider
  </button>
</div>
